@import "toastify";
@import url("https://fonts.googleapis.com/css?family=Roboto:300i,400,500,700,700i");

body {
    font-family: Roboto, sans-serif;
}

.wrapper {
    width: 100%;
    height: 100%;
}