body {
    background: #f3f3f3;
}

img {
    width: 100%;
    height: 220px;
}

a {
    color: #e74c3c;
}

button:focus {
    outline: none;
}

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.App-header {
    background-color: #2c3e50;
    height: 90px;
    padding: 30px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.recipe-buttons {
    border: solid 2px #e74c3c;
    background: transparent;
    padding: 0.4rem 0.6rem;
    border-radius: 8px;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    transition-duration: 400ms;

    &:hover {
        background-color: #e74c3c;
        color: black;
    }
}



.recipes-box {
    background: #fff;
    padding-bottom: 2rem;
    border-radius: 5px;
    box-shadow: -1px 2px 34px -13px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    width: 310px;
    padding: 15px 30px;
    margin-bottom: 30px;
}

.recipe-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: center;
}

.recipes-title {
    color: #e74c3c;
    text-transform: uppercase;
    font-size: 1.1rem;
    padding: 1.8rem 0 0.2rem 0;
}

.recipes-subtitle {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 2px;
}

.recipes-subtitle span {
    text-transform: none;
    font-weight: 400;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

.recipe-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-input {
    background: transparent;
    border: 0;
    border-bottom: solid 2px #2c3e50;
    letter-spacing: 2px;
    width: 10%;
    padding: 0.4rem;
}

.far.fa-star {
  color: grey;
  padding: 5px;

  &:hover {
      color: black;
  }
}
.fas.fa-star {
    color: gold;
    padding: 5px;
}

.form-button {
    border: solid 2px #e74c3c;
    background: transparent;
    padding: 0.2rem 0.9rem;
    border-radius: 1px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

input[type="text"] {
    outline: none;
}

.active-recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.active-recipe-img {
    height: 350px;
    width: 500px;
    border-radius: 50%;
}

.active-recipe-title {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.active-recipe-publisher,
.active-recipe-website {
    text-transform: uppercase;
    font-size: 1.2rem;
}

.active-recipe-publisher span {
    text-transform: none;
    font-weight: 300;
    letter-spacing: 2px;
}

.active-recipe-website span {
    text-transform: lowercase;
    font-weight: 300;
    letter-spacing: 2px;
    color: #e74c3c;
}

.active-recipe-button {
    border: solid 2px #e74c3c;
    background: transparent;
    padding: 0.2rem 0.9rem;
    border-radius: 1px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}
.container {
    display: flex;
    justify-content: center;
    padding-top: 60px;
}
