.header-view {
    display: flex;
    justify-content: center;
    width: 100%;
    background: url("../../../assets/search-banner-background.jpg") center center no-repeat;
    // @media all and (max-width: 1199px) {
    //     width: 1199px;
    // }
    // @media all and (max-width: 991px) {
    //     width: 991px;
    // }
    // @media all and (max-width: 768px) {
    //     width: 768px;
    // }
    // @media all and (max-width: 575px) {
    //     width: 575px;
    // }


    .wrapper {
        width: 100%;
        height: 100%;
        border-bottom: 2px solid white;
        background: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center;

        .navigation {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 70px;

            .header-button {
                color: white;
                text-decoration: none;
                transition-duration: 400ms;
                font-weight: bold;
                padding: 4px 50px;

                &:hover {
                    border-bottom: 2px solid white;
                }
            }
        }
    }
}
