.header-view {
    display: flex;
    justify-content: center;
    
    .navigation {
        border-bottom: 2px solid white;
        position: relative;
        width: 100%;
        height: 70;
        background: url("../../../assets/search-banner-background.jpg") center center no-repeat;
        background-position: 0 -130px;
        background-size: cover;
        display: flex;
        justify-content: center;

        .wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(0, 0, 0, 0.6);

            .header-button {
                color: white;
                text-decoration: none;
                transition-duration: 400ms;
                font-weight: bold;
                padding: 4px 50px;

                &:hover {
                    border-bottom: 2px solid white;
                }
            }
        }
    }
}
