.active-recipe-view {
    display: flex;
    justify-content: center;
    padding-top: 60px;

    .active-recipe {
        display: flex;
        flex-direction: column;
        align-items: center;

        .active-recipe-img {
            height: 350px;
            width: 500px;
            border-radius: 50%;
        }

        .active-recipe-title {
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        .active-recipe-publisher,
        .active-recipe-website {
            text-transform: uppercase;
            font-size: 1.2rem;

            .active-recipe-publisher span {
                text-transform: none;
                font-weight: 300;
                letter-spacing: 2px;
            }

            .active-recipe-website span {
                text-transform: lowercase;
                font-weight: 300;
                letter-spacing: 2px;
                color: #e74c3c;
            }
        }

        .active-recipe-button {
            border: solid 2px #e74c3c;
            background: transparent;
            padding: 0.2rem 0.9rem;
            border-radius: 1px;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 500;
        }
    }
}
