$ingredients-list-color: #9acd32;

.active-recipe-view {
    .active-recipe {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;

        .active-recipe-title {
            font-size: 28px;
            padding-bottom: 12px;
            font-weight: bold;
        }

        img {
            width: 620px;
            height: 300px;
            margin-bottom: 12px;
            border-radius: 4px;
        }

        .recipe-details {
            display: flex;
            flex-direction: row;

            .ingredients-box,
            .recipe-info {
                padding: 0 70px;
            }

            .ingredients-list-header {
                padding: 20px 10px;
                text-align: center;
                background-color: $ingredients-list-color;
                color: white;
            }
            .ingredients-list {
                padding: 10px 10px;
                border: 5px solid $ingredients-list-color;
            }
        }
    }
}
